[Desktop Entry]
Type=Application
Name=sxiv
GenericName=Image Viewer
Exec=sxiv -a %F
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-tga;image/x-xpixmap;image/webp;image/svg+xml;
NoDisplay=true
Icon=sxiv
